@import '../vars';

a {
    text-decoration: none;
    color:  var(--green);
}

p {
    color:  var(--gris);
    line-height: 1.6;
}

.link {
    &:hover,
    &:focus,
    &:active {
      color:  var(--red);
      filter: invert(23%) sepia(97%) saturate(3706%) hue-rotate(340deg) brightness(80%) contrast(108%);
    }
}

input {
    cursor: text;
    outline: none;
    padding-left: 10px;
}

button {
    cursor: pointer;
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 115, 56, 0.64);
    opacity: 1; /* Firefox */
    font-size: 1 rem;
    font-weight: 400;
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 115, 56, 0.64);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 115, 56, 0.64);
}

.error {
    color:  var(--red);
    font-size: 12px;
}

.inputError {
    border-color:  var(--red);
}