.nav {
   // background-color: violet;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    &__brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__logo {
            width: 45%;
            object-fit: contain;
        }
        &__name {
            color: #007338;
        }
    }
    &__search-bar {
        display: flex;
        align-items: center;
        border: 1px solid #C4C4C4 ;
        &__input {
            // height: 12px;
            width: 100%;
            border: none;
        }
        &__button {
            appearance: none;
            background-color: white;
            border: none;
            &__icon {
                padding: 3px 4px 1px 0px;
                align-items: center;
                background-color: white;
                color: #007338;
            }
        }
    }
}
